body
{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
}

header 
{      
    color: rgb(45, 223, 255);
    font-weight:700;
    background-color: #333;
    margin-left: 20px;
    font-family: 'Splash', cursive;
}
nav
{
    margin-top: -80px;
}
ul {
    float: right;
    list-style-type: none;
    margin-right:30px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.place-vide
{   
    width:100%;
    height: 500px;
    background-image: linear-gradient(to left bottom, #1605d4, #0070ff, #00a3ff, #00cdd5, #00f0a7);
    margin-top: 200px;
}

.place-vide img
{
margin-left: 930px;
}





.Services
{
    height: 200px;
    width: 400px;
    margin-top: 100px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}
.s-items
{   
    text-align: center;
}
.special
{
    color: rgb(14, 183, 202);
}


#test
{
    position: relative;
    margin-top: 20px;
    width: 960px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
#test h3
{
    color: rgb(0, 196, 235);
    font-weight: 900;
    font-family: 'Pacifico', cursive;
    
}

.test-t 
{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    float: left;
    overflow: hidden;
    color: aliceblue;
    background-color:  #333;
    text-align: center;  

}

footer p
{
    text-align: center;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
}
.line-footer
{
    margin-top: -12px;
    height: 4px;
    width: 90px;
    background-image: linear-gradient(to right top, #2b17ff, #0083ff, #00b6ff, #00dee8, #09ffb4);
    border-radius: 50%;
    border-color: black;
}

form 
{
    max-width:420px;
    margin:50px auto;
}
form h2
{
    color: whitesmoke;
}

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #0ea0ea;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }

.feedback-input:focus 
{
    border:2px solid #0ea0ea;
}

textarea 
{
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"]
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#0ea0ea;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover 
{ 
    background-image: linear-gradient(to right top, #2b17ff, #0083ff, #00b6ff, #00dee8, #09ffb4);
}